.home{
    color: aquamarine;
    text-align: center;
}

.text {
    color:rgb(26, 129, 84);
    font-family: 'Times New Roman';
    font-weight: bolder;
}

.container{
    display: flex;
    justify-content: center;

}

.graphic{
    height: 500px;
    width: 700px;
}

@media (max-width: 600px) {
    .graphic {
        height: 200px;
        width: 250px;
    }
  }
