
.navbar {
    display: flex;
    justify-content: space-around;
    background-color: rgb(26, 129, 84);
    border-radius: 10px;
    font-family: 'Times New Roman';
}

.navbar a {
    color: rgb(6, 6, 118);
    text-decoration: none;
    padding: 14px 16px;
    font-size: 17px;
}

.navbar a:hover {
    background-color: rgb(6, 6, 118);
    color: white;
}


@media (max-width: 600px) {
    .navbar a {
     display: flex;
     justify-content:space-around;
     text-align: center;
     margin: 5px;
     padding: 0;
    
 }
} 